/* General: all modals */
.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--modalContainerBackgroundColor);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}
.modal-container-sub {
	background-color: var(--modalSubcontainerBackgroundColor);

	border: var(--border);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modal-container-title-div,
.modal-content-container,
.modal-btn {
	margin: var(--mMargin);
}
.modal-container-title-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: var(--mMargin);
	padding-bottom: 7px;
	width: 100%;
	border-bottom: var(--borderLight);
}
.modal-container-title-div h3 {
	margin-left: var(--mMargin);
}

.modal-icon-close {
	font-size: 25px;
	margin-right: var(--mMargin);
	cursor: pointer;
}

.modal-content-container {
	margin: var(--mMargin);
}
.modal-btn {
	margin-top: var(--mMargin);
}
.hide {
	display: none;
}

.required-field-warning {
	color: red;
	font-size: 12px;
	font-style: italic;
}

.modal-label-and-field-horizontal {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.modal-label-and-field-horizontal-label {
	margin-left: var(--mMargin);
}
.modal-label-and-field-horizontal-input {
	margin-right: var(--mMargin);
	width: 200px;
	border-bottom: 2px solid gray;
	border-top: none;
	border-left: none;
	border-right: none;
}
.modal-label-and-field-description{
	height: 50px;
}
.modal-label-and-field-notes{
	height: 100px;
	border-bottom: 2px solid gray;
		border-top: none;
		border-left: none;
		border-right: none;
}
.todo-modal-add-todo-priority-icons-container{
	border: none;
}
.modal-label-and-field-vertical {
	display: flex;
	flex-direction: column;
	gap: var(--mMargin);
	align-self: flex-start;
	width: 100%;
}
.modal-label-and-field-vertical-children {
	margin: 0 var(--mMargin);
}

/* ADD TO-DO MODAL */

.todo-modal-add-todo-container-sub {
	width: 320px;
	gap: var(--mMargin);
}
.todo-modal-add-todo-required-field-warning {
	margin-right: var(--mMargin);
	align-self: flex-end;
}
.todo-modal-add-todo-priority-icons-container {
	display: flex;
	justify-items: center;
	justify-content: space-evenly;
	gap: var(--mMargin);
}
.priority-flag-button {
	width: 20px;
	height: 20px;
	border: 1px rgb(133, 133, 133) solid;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.selected-priority-level {
	border: 2px rgb(133, 133, 133) solid;
}
.priority-flag-button:hover {
	background-color: rgb(97, 97, 97);
}

.todo-modal-add-todo-check-container {
	align-self: flex-start;
	margin-left: var(--mMargin);
	display: flex;
	align-items: center;
	gap: var(--mMargin);
}
.todo-modal-add-todo-checklist-container {
	width: 100%;
}
.todo-modal-add-todo-add-checklist-container {
	margin: 0 var(--mMargin);
	display: flex;
	gap: var(--mMargin);
}
.todo-modal-add-todo-add-checklist-input {
	width: 200px;
}
.todo-modal-add-todo-add-checklist-btn {
	text-align: center;
	flex-grow: 2;
	background-color: rgb(199, 199, 199);
	font-size: 12px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px rgb(133, 133, 133) solid;
	border-radius: 3px;
}
.todo-modal-add-todo-add-checklist-btn:hover {
	background-color: gray;
}
.todo-modal-add-todo-ul-container {
	margin: var(--mMargin);
}

.todo-modal-add-todo-item div {
	display: flex;
	width: 100%;
	align-items: center;
	gap: var(--mMargin);
}

.todo-modal-add-todo-item div p {
	flex-grow: 2;
}

.todo-modal-add-todo-check-icon {
	color: rgb(224, 224, 224);
}

.todo-modal-add-todo-trash-icon {
	color: gray;
}

.todo-modal-add-todo-item :hover {
	background-color: rgb(245, 245, 245);
}
.todo-modal-add-todo-item div > :hover {
	color: black;
}
/* check list item checked */
.todo-modal-add-todo-checked-item div {
	background-color: gray;
}
.todo-modal-add-todo-checked-item div p {
	text-decoration: line-through;
}
.todo-modal-add-todo-checked-item div > * {
	color: rgb(189, 189, 189);
}
