/* TOP NAV */
.nav-top-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--mMargin);
	border-bottom: var(--border);
}
.nav-top-right{
	display: flex;
	align-items: center;
}
.nav-top-right div {
	width: 45px;
	height: 30px;
}

.nav-top-right div > * {
	position:absolute;
}
.nav-icon-board{
	color: var(--colorLightGrey);
	font-size: 30px;
	
}
.nav-icon-check{
	color: var(--colorOrange);
	font-size: 37px;
	top: 10px;

}
.nav-top-bar h1
 {
	font-size: 30px;
}

.nav-top-left{
	margin-right: var(--mMargin);
	display: flex;
	
}
.nav-icon-burger{
	font-size: 30px;
	cursor: pointer;
	transform: rotate(0deg);
	transition: transform 0.5s;
}
@media screen and (min-width: 800px){
	.nav-icon-burger{
		display: none;
	}
}
.clr-storage-btn-top{
	border-color: grey;
	color: grey;
}
.clr-storage-btn-top:hover{
	border-color: var(--border);
	color: var(--fontColor);
}
@media screen and (max-width: 800px) {
	.clr-storage-btn-top {
		display: none;
	}
}

/* LEFT NAV */
.nav-left-bar {
	width: 200px;
	min-width: 200px;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-left: var(--mMargin);
	border-right: var(--border);
}
.nav-left-bar h2 {
	margin: var(--mMargin) 0;
}

@media screen and (max-width: 800px) {
	.nav-left-bar {
		background-color: white;
		z-index: 100;
	}
}
/* nav btns */
.nav-left-button {
	display: flex;
	align-items: center;
	padding: 5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	cursor: pointer;
}
.nav-left-button:hover {
	background-color: var(--hoverNavBtnColor);
}
.nav-left-button ion-icon {
	margin-right: var(--mMargin);
}
/* add board btn */
.nav-add-board-button ion-icon,
.nav-add-board-button h3 {
	color: var(--colorBlue);
}

.clr-storage-btn-mobile{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: var(--mMargin);
	border-color: grey;
	color: grey;
}

@media screen and (min-width: 800px) {
	.clr-storage-btn-mobile {
		display: none;
	}
}

/* MOBILE NAV */
.mobile-nav-inactive{
	display: none;
}
.mobile-nav-transition{
	animation: slideOut 1s;
	opacity: 0;
}
.mobile-nav-transition,
.mobile-nav-active{
position: fixed;
width: 100%;
display: flex;
align-items: center;
}
.mobile-nav-active{
	animation: slideIn 1s;
}
.mobile-nav-active > * {
	width: 200px;
}
/* burger change */
.nav-icon-burger-clicked{
	transform: rotate(90deg);
	transition: transform 0.5s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideIn {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0);
	}
}
@keyframes slideOut {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		transform: translateX(100%);
		opacity: 0;
	}
}