:root {
	--fontColor: rgb(34, 34, 34);
	--borderColor: rgb(34, 34, 34);
	--hoverNavBtnColor: rgb(206, 206, 206);
	--modalContainerBackgroundColor: rgba(206, 206, 206, 0.781);
	--modalSubcontainerBackgroundColor: rgb(255, 255, 255);
	--greenColor: #439a86;
	--colorOrange: #ff6600; 
	--colorBlue: #427bcc;
	--colorRed: #df3f31;
	--colorYellow: #f1a423;
	--colorLightGrey: rgb(214, 214, 214);;
	--fLato: 'Lato', sans-serif;
	--mMargin: 10px;
	--border: 2px solid var(--borderColor);
	--borderLight: 2px solid rgb(206, 206, 206);
	--buttonPadding: 5px 10px;
}
* {
	margin: 0;
	padding: 0;
	font-family: var(--fLato);
	color: var(--fontColor);
}

ul {
	list-style: none;
}

html,
body,
.content {
	width: 100%;
	height: 100%;
}
.content {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: space-between;
}
.middle-div {
	height: 100%;
	display: flex;
}
.the-body {
	margin: var(--mMargin);
	width: 100%;
}


/* GENERAL */
.hide {
	display: none;
}
.hide > * {
	display: none;
}

.priority-level-0 {
	color: var(--colorLightGrey);
}

.priority-level-1 {
	color: var(--colorYellow);
}

.priority-level-2 {
	color: var(--colorRed);
}
.priority-level-3 {
	color: var(--colorBlue);
}